* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: rgb(3, 133, 57);
  min-height: 100vh;
  background-image: url("../assets/wallpaperflare.com_wallpaper.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.formContainer {
  width: 100%;
  display: grid;
  background-color: rgb(54, 53, 53);
  border-bottom: 1px solid rgb(54, 53, 53);
}

.sectionsContainer {
  display: grid;
  grid-template-columns: 1fr 300px;
  min-height: 90vh;
}

.widgetsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  align-items: center;
  padding: 10px;
  position: relative;
}

.error {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25%;
  transform: translateY(-25%);
}

@media screen and (max-width: 700px) {
  .sectionsContainer {
    grid-template-columns: 1fr;
    grid-gap: 30px;
    justify-items: center;
  }
}
